    body{
        font-family: 'Open Sans', sans-serif;
    }
    .reset{
        padding:0;
        margin:0;
    }
    .img-responsive{
        height:100%;
        width:100%;
    }
    .car-list{
        border-bottom:1px dashed #000; 
    }

    .car-list>.price{
        padding:20px;
        height:150px;
        color:#434955;
        font-size:20px;
        background:#f3f3f3;
    }
    .car-list>.price>span{
    }
    .car-list>.price>button{
        margin-top:10px;
        color:#fff;
        background:#3285ed;
        border:1px solid transparent;
        padding:3px 5px;
        border-radius:10px;
    }
    .car-list>.description{
        padding:20px;
        height:150px;
        color:#434955;
        font-size:20px;
        background:#f9f9f9;
    }
    .car-list>.photo{
        overflow:hidden;
       height:150px; 
    }
    .description-more{
        font-size:15px;
    }
    .container-title{
        font-size:17px;
        font-weight:400;
        padding:10px;
    }
    .container-title>span{
        font-size:13px;
    }
    .container-cars{
        border-top:1px solid #bebebe;
         border-left:1px solid #bebebe;
         border-right:1px solid #bebebe;
        border-radius: 5px 5px 0px 0px;
    }
    .container-info{
        border:1px solid #bebebe;
        border-radius: 5px 5px 0px 0px;
    }
    
    
    #bg {
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 360px;
    font-size: 36px;
    line-height: 1.25;
    padding-top: 125px;
    text-align: center;
    color: #fff;
        margin-bottom:30px;
    }

    .car-more>.photo,
    .car-more>.description,
    .car-more>.price{
        height: 400px;
    }
    footer{
        margin-top:40px;
        width:100%;
        height:150px;
        border-top:1px solid #bebebe;
    }
